<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Shortened</th>
      <th>Clicks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top_links.each do |link| %>
      <tr>
        <td><%= link.original%></td>
        <td><%=link_to link_url(link), link_url(link) %> </td>
        <td><%= link.clicks %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
