<h1>New link</h1>

<%= render 'form' %>

<p> Top Links by Popularity: </p>
<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Shortened</th>
      <th>Clicks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top_links.each do |link| %>
      <tr>
        <td><%= link.original%></td>
        <td><%=link_to link_url(link), link_url(link) %> </td>
        <td><%= link.clicks %></td>
      </tr>
    <% end %>
  </tbody>
</table>