

<%= render 'form' %>
<div class="top"
  <p> Top Links: </p>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Original</th>
      <th>Shortened</th>
      <th>Clicks</th>
    </tr>
  </thead>

  <tbody>
    <% @top_links.each do |link| %>
      <tr>
        <td><%= link.original%></td>
        <td><%=link_to link_url(link), link_url(link) %> </td>
        <td><%= link.clicks %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

	$(function(){
		loadTopLinks();
    validate();
	});

</script>