
html body {
	background-color: #BFDEE2;
	text-align: center;
	color: black;
	font-family: "Montserrat", "sans-serif";
}

h1 {
	font-family: 'Comfortaa', "Normal"
}

.content {
	margin-top: 150px;
}

.header {
	top: 0;
	height: 100%;
	width: 100%;
}

.field {
	margin: 15px;
}
.shorten {
	margin: 30px;
	background-color: #65B3BD;
	border-style: none;
	font-size: 2em;
	color: black;
}

.table {
	display: none;
  text-align: left;
}

th {
	font-size: 20px;
}

td {
	font-size: 20px
}

.top { 
	width: 20%;
	background-color: #BFDEE2; 
	cursor: pointer; 
	cursor: hand; 
	font-size: 1.5em;
	margin: 0 auto;
}

.short {
	width: 100%;
	font-size: 1.5em;
	background-color: #BFDEE2;
	margin: auto;
}


.back {
	background-color: #65B3BD;
	width: 100px;
	margin: auto;
	font-size: 1.5em;
	margin-top: 2em;
}

.shortener {
	position: absolute;
	left: 34%;
	top: 40%;
	width: 265px;
}

.carson {
	position: absolute;
	left: 35%;
	top: 20%;
}

.bills {
	position: absolute;
	left: 35%;
	top: 30%;
}

.new_link_shortener {
	position: absolute;
	left: 41%;
	top: 2%;
	width: 265px;
}

.new_link_carson {
	position: absolute;
	left: 31%;
	top: 2%;
}

.new_link_bills {
	position: absolute;
	left: 35%;
	top: 2%;
}
